controller:
  class: SeriesCalc::Examples::SumGraphController
  start_time: 2010-01-01T00:00:00Z
  period: 15m
  n_steps: 5
  default_dimension_type: SeriesCalc::Examples::SumTerm

log:
  level: debug
  format: '[%d] %-5l %c %m\n'
  datetime_format: "%H:%M:%S.%3N"
